
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div>
    <img style="margin-bottom:4%" src="~/images/logo.png" />
    <p>Lầu 5, 387-389 Hai Bà Trưng Quận 3 TP HCMCông Ty Cổ Phần Phát Hành Sách TP HCM - FAHASA60 - 62 Lê Lợi, Quận 1, TP. HCM, Việt Nam </p>
    <p>Fahasa.com nhận đặt hàng trực tuyến và giao hàng tận nơi. KHÔNG hỗ trợ đặt mua và nhận hàng trực tiếp tại văn phòng cũng như tất cả Hệ Thống Fahasa trên toàn quốc.</p>
    <p>Email: info@fahasa.com</p>
    <p>Phone: 1900636467</p>
    <a href="http://online.gov.vn/Home/WebDetails/19168">
        <img style="width:30%" class="edit2" src="~/images/logo-bo-cong-thuong-da-thong-bao.png" />
    </a>
    <div>
        <ul style="list-style:none" class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="https://www.facebook.com/fahasa/">
                    <img src="~/images/Facebook-on.png" />
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.instagram.com/fahasa_official/">
                    <img src="~/images/Insta-on.png" />
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.youtube.com/channel/UCUZcVOLSxK1q6RfgzQ9-HYQ">
                    <img src="~/images/Youtube-on.png" />
                </a>
            </li>
            <li class="nav-item">
                <a href="https://fahasa-blog.tumblr.com/">
                    <img src="~/images/tumblr-on.png" />
                </a>
            </li>
            <li class="nav-item">
                <a href="https://twitter.com/Fahasa_com">
                    <img src="~/images/twitter-on.png" />
                </a>
            </li>
            <li class="nav-item">
                <a href="https://www.pinterest.com/fahasaVN/_created/">
                    <img src="~/images/pinterest-on.png" />
                </a>
            </li>
        </ul>
        <ul style="list-style:none" class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="https://play.google.com/store/apps/details?id=com.fahasa.android.fahasa">
                    <img style="width:300px" src="~/images/android.png" />
                </a>
            </li>
            <li class="nav-item">
                <a href="https://apps.apple.com/app/id1227597830">
                    <img style="width:300px" src="~/images/appstore.png" />
                </a>
            </li>
        </ul>
    </div>
</div>

